@font-face {
    font-family: "SAP-icons";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/SAP-icons.woff2") format("woff2"), local("SAP-icons");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 400;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Regular.woff2") format("woff2"), local("72");
}
@font-face {
    font-family: "72full";
    font-style: normal;
    font-weight: 400;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Regular-full.woff2") format("woff2");
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 700;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold.woff2") format("woff2"), local("72-Bold");
}
@font-face {
    font-family: "72full";
    font-style: normal;
    font-weight: 700;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 300;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light.woff2") format("woff2"), local("72-Light");
}
@font-face {
    font-family: "72full";
    font-style: normal;
    font-weight: 300;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-Bold";
    font-style: normal;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold.woff2") format("woff2"), local("72-Bold");
}
@font-face {
    font-family: "72-Boldfull";
    font-style: normal;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-Light";
    font-style: normal;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light.woff2") format("woff2"), local("72-Light");
}
@font-face {
    font-family: "72-Lightfull";
    font-style: normal;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Mono";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Regular.woff2") format("woff2"), local("72Mono");
}
@font-face {
    font-family: "72Monofull";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Regular-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Mono-Bold";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Bold.woff2") format("woff2"), local("72Mono-Bold");
}
@font-face {
    font-family: "72Mono-Boldfull";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Black";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Black.woff2") format("woff2");
}
@font-face {
    font-family: "72Blackfull";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Black-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-SemiboldDuplex";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-SemiboldDuplex.woff2") format("woff2");
}
@font-face {
    font-family: "72-SemiboldDuplexfull";
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-SemiboldDuplex-full.woff2") format("woff2");
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Regular-full.woff2") format("woff2");
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72";
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-Bold";
    font-style: normal;
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-Light";
    font-style: normal;
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Light-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Mono";
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Regular-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Mono-Bold";
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72Mono-Bold-full.woff2") format("woff2");
}
@font-face {
    font-family: "72Black";
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-Black-full.woff2") format("woff2");
}
@font-face {
    font-family: "72-SemiboldDuplex";
    unicode-range: U+0102-0103, U+010F, U+013D, U+013E, U+0165, U+01A0-01A1,
        U+01AF-01B0, U+1EA0-1EB7, U+1EB8-1EC7, U+1EC8-1ECB, U+1ECC-1EE3,
        U+1EE4-1EF1, U+1EF4-1EF7;
    src: url("https://sdk.openui5.org/resources/sap/ui/core/themes/sap_horizon/fonts/72-SemiboldDuplex-full.woff2") format("woff2");
}

html, body, h1, h2, h3, h4, h5, h6, p {
  font-family: "72-Regular", "72", "72full", Arial, Helvetica, sans-serif;
}

.sap-icon-initiative::before {
  font-family: SAP-icons;
  content: "\e161";
  margin-right: 0.5em;
}

.sap-icon-accept::before {
  font-family: SAP-icons;
  content: "\e05b";
}

.sap-icon-ui5-after::after {
  font-family: SAP-icons;
  content: "\e21b";
  margin-left: 0.5em;
  color: var(--md-primary-fg-color);
}

.ui5-footer-item {
  flex-grow: 0;
  color: var(--md-footer-fg-color--lighter);
  font-size: .64rem;
  margin: auto 0.6rem;
  padding: 0.4rem 0;
}

.md-copyright {
  flex-grow: 1;
}
