footer {
    display: flex;
}
.ui5-footer-item {
    flex-grow: 0;
    margin: auto 0.6rem;
    padding: 0.4rem 0;
    white-space: nowrap;
}
.ui5-footer-item-growing {
    flex-grow: 1;
    white-space: normal;
}
