name: GitHub CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: General checks and tests
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Use Node.js LTS 20.x
      uses: actions/setup-node@v4.4.0
      with:
        node-version: 20.x

    - name: Install dependencies
      run: npm ci

    - name: Perform checks and tests
      run: npm test
